<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>测试工具箱</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="styles.d77dee110c2470aa3d28.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="runtime.7b63b9fd40098a2e8207.js" defer></script><script src="polyfills.70ffb02a82cc06d3b0cb.js" defer></script><script src="main.a514c84df6c90c4a90e8.js" defer></script></body>
</html>
