<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>测试工具箱</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="styles.8d5aea95f68738b35839.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="runtime.0e49e2b53282f40c8925.js" defer></script><script src="polyfills.2e89f9530eab053a7df4.js" defer></script><script src="main.aec6963152b2017f10c4.js" defer></script></body>
</html>
